* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background-color: #828282;
}

.center-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.settings-container {
	background-color: #484848;
	border: 1px solid lightgray;
	flex: 0 0 50%;
	color: white;
	padding: 1%;
}

.server,
.tribe {
	display: inline;
}

.selector-group {
	display: flex;
	flex-wrap: wrap;
}

.group-title {
	flex: 1 0 100%;
	text-align: center;
}

.input-type {
	flex: 0 0 50%;
	text-align: center;
}

.selector {
	display: flex;
	flex: 1 0 50%;
	justify-content: space-around;
}

.selector > p {
	flex: 0 0 50%;
	text-align: center;
}

.selector:last-child {
	flex: 0 0 50%;
}

.selector > select {
	min-width: 15%;
}

.troop-input {
	background-color: #484848;
	border: 1px solid lightgray;
	flex: 0 0 80%;
	color: white;
	margin: 1%;
	padding: 1%;
}

.input-group {
	width: 50%;
	margin: auto;
}

.grid-container {
	display: grid;
	text-align: center;
}

.column-name:nth-child(1) {
	grid-column: 3;
}

.column-name:nth-child(2) {
	grid-column: 4;
}

.column-name:only-of-type {
	grid-column: 4;
}

.grid-container > input[type='number'] {
	width: 35%;
	margin: auto;
}

.result {
	background-color: #484848;
	border: 1px solid lightgray;
	flex: 0 0 50%;
	color: white;
	margin: 1%;
	padding: 1%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.result > div {
	flex: 0 0 20%;
	display: flex;
	justify-content: space-around;
}

.result > div > img {
	width: 24px;
	height: 18px;
}

.result > div > i {
	background-image: url('https://gpack.travian.com/20b0b1f1/mainPage/img_ltr/a/carry.gif');
	height: 12px;
	width: 13px;
	align-self: center;
}

.result > div > p {
	padding: 1%;
	margin-top: 5%;
	background-color: #828282;
}

/*** Header ***/

.header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.title {
	flex: 1 0 90%;
	text-align: center;
}

.version {
	flex: 1 0 10%;
}

.theme-toggler {
	flex: 0 0 90%;
	display: flex;
	justify-content: flex-end;
}

/*** Theme toggler ***/

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #333322;
}

input:focus + .slider {
	box-shadow: 0 0 1px #333322;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*** Theme toggler ***/

/*** Header ***/
