* {
	box-sizing: border-box;
	margin: 0;
}

body {
	min-height: 100vh;
}

.hidden {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	display: block;
	font-size: 1;
	z-index: -1;
	color: transparent;
	background: transparent;
	overflow: hidden;
	border: none;
	padding: 0;
	resize: none;
	outline: none;
	-webkit-user-select: text;
	user-select: text; /* Because for user-select:none, Safari won't allow input */
}

iframe {
	width: 0;
	height: 0;
}

th {
	width: 100px;
}

.production {
	position: relative;
}

.plus-icon {
	position: absolute;
}

/*** Header ***/

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 2% 0;
}

.title {
	flex: 1 0 90%;
	text-align: center;
}

.version {
	flex: 1 0 10%;
}

.theme-toggler {
	flex: 0 0 90%;
	display: flex;
	justify-content: flex-end;
}

/*** Theme toggler ***/

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #333322;
}

input:focus + .slider {
	box-shadow: 0 0 1px #333322;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*** Theme toggler ***/

/*** Header ***/
